.button {
    color: #bbfa1d;
    background-color: black;
    border-color: black;
}

.btn {
    border: 1px;
    padding: 6px 12px;
    line-height: 2;
    border-radius: 4px;
}

a {
text-decoration: none;
}

a:hover{
    background-color: skyblue;
    
}