.logo {
    width: 500px;
    height: 500px;
}

.align__center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fitness__ronin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timetable {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    color:purple;
    background-color: black;
    border-color: black;
}

.btn{
    border: 1px;
    padding: 6px 12px;
    line-height: 2;
    border-radius: 4px;
}